/* Header styles */
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
}

.header-buttons{
    display: flex;
    gap: 10px;
    padding-right: 20px;
    
}

/* Main content styles */
main {
    padding: 1em;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.custom-link {
    color: white;
}