


html {
  overflow-y: scroll;
}

.navbar-brand {
  margin-left: 0.5em;
  font-family: 'Roboto', sans-serif; /* フォントファミリー */
  font-size: 1.5rem; /* フォントサイズ */
  font-weight: 700; /* フォントの太さ */
  color: #000000; /* フォントカラー */
  text-transform: uppercase; /* 大文字にする */
  letter-spacing: 0.05rem; /* 文字の間隔 */
}

.profile-image {
  /* 画像を円形にする */
  border-radius: 50%;
  /* 画像のサイズを設定 */
  width: 40px;   /* あるいは任意のサイズ */
  height: 40px;  /* widthとheightは同じ値にする */
  object-fit: cover;  /* 画像の比率を保ちつつ、フレームに収める */
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* 他の要素より前面に表示 */
    background-color: rgb(200, 200, 200);
  }
  
  /* フッターを固定 */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100; /* 他の要素より前面に表示 */
    background-color: rgb(200, 200, 200);
  }
  
 


  /* ヘッダーとフッターによって隠れる部分の調整 */
  main {
    margin-top: 60px;  /* ヘッダーの高さに合わせる */
    margin-bottom: 60px; /* フッターの高さに合わせる */
    
  }
  
  .sticky {
    position: -webkit-sticky; /* サポートしていないブラウザのためのベンダープレフィックス */
    position: sticky;
    top: 70px; /* 画面の上端からの距離 */
    z-index: 1000; /* 必要に応じてz-indexを調整して、他の要素の上に表示されるようにする */
  }
  

  .image-container {
    max-height: 200px;
    max-width: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .image-container img {
    height: 100%; 
    /* コンテナの高さに合わせて調整 */
    object-fit: cover; /* 画像がコンテナを満たすように調整しつつ、アスペクト比を維持 */
  }

  .rounded {
    border-radius: 10px; /* 角の丸みの大きさを設定 */
    padding: 20px;      /* 内側の余白を設定 */
  }

  .btn-secondary {
    background-color: white; /* ボタンの背景色を白に設定 */
    color: black; /* ボタンの文字色を黒に設定 */
    border: 1px solid #ddd; /* 枠線を薄い灰色に設定（必要に応じて） */
    margin-top:5px;
  }
  